@use "./common/colors.scss" as color;
  .modal {
    display: none;
    position: fixed;
    width: 100%;
    height: 100vh;
    background: #2d2d2f;
    z-index: 5;
    top: 0;
    @media (min-width: 768px) and (max-width: 1439px) {
      width: 50%;
      right: 0;
    }
  
    @media (min-width: 1440px) {
      display: none;
    }
  }

  .modal-container {
    width: 391px;
    height: 100vh;
    margin: 0 auto;
    padding: 0 24px 80px 24px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    @media (min-width: 768px) and (max-width: 1439px) {
      position: fixed;
    }
  }

  .modal.active {
    display: block;
  }

  .modal-list {
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    gap: 24px;
    font-weight: 700;
    font-size: 24px;
    :hover {
      color: color.$primary;
    }
  }

  .modal-btn {
    width: 100%;
    height: 56px;
    border-radius: 8px;
    border: none;
    padding: 18px 24px;
    background: color.$primary;
    font-size: 16px;
    color: color.$white;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    margin-bottom: 24px;
    &:hover {
      box-shadow: 0 0 10px 0 rgba(182, 136, 103, 0.7);;
    }
    &:active {
      box-shadow: inset 0 0 10px 0 rgba(0, 0, 0, 0.5);
    }
  }

  .modal-svg {
    width: 20px;
    height: 20px;
  }

  .modal-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    @media (min-width: 768px) and (max-width: 1439px) {
      padding: 0 16px;
    }
  }

  .modal-info {
    display: flex;
    align-items: center;
    gap: 4px;
    :hover {
      color: color.$primary;
    }
  }

  .modal-language {
    position: relative;
    :hover {
      color: color.$primary;
    }
  }

